<a href="https://colab.research.google.com/github/vilijajoyce/python-resources/blob/main/python_lake_006_format_structure_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Format and structure of digital data
Record info about research participants. We get a measurement, a value, a single piece of data. Multiple measurements across subject, time, trials. Stacks of data. Need to keep it organized. How do we organize data to do analysis? Good data organizing principles. Focus on Pandas library - data manipulation tool for Python. Clean, organize, enter, reorganize, explore-->all using Python.

## Tabular data
Spreadsheet. 2-D tabular representation of data (e.g. A1, B2, etc.). Cells. Metadata = data that describes other data (e.g. take a pic - not just the pic saved, but also date, filesize, etc.). Think of columns as metadata. Rows are observations. Mantra - record everything in code "do it in code". 

##Preferred file format
Use .csv (comma separated values) instead of .xls. Can open in Excel, Google Sheets, Notepad ++. Not limited to MS Excel. If working in Excel, save as in *.csv.

##Load into Jupyter (on Google Colab)
Upload a .csv file. Click file folder icon in left hand menu. Select "Upload to session storage" icon.

##Intro to pandas

In [23]:
import numpy as np 
import pandas as pd

In [ ]:
# Load data and store as variable aka dataframe
demo_df=pd.read_csv('sample_data/california_housing_test.csv')
demo_df

In [ ]:
# Load data from the web - see www.osf.io (open science framework) - copy link to data
# Don't need to download data
alexdata_df = pd.read_csv('https://osf.io/erbz8/download')
alexdata_df

In [ ]:
# How many rows and columns?
alexdata_df.shape

In [ ]:
# Column names?
alexdata_df.columns.values

In [24]:
# Ask for just first 5 rows
alexdata_df.head()

,ap_payoff,av_payoff,block,category,condition,correct,counterbalance,dim0,dim1,dim2,...,score_pre,stimnum,swapdim0,swapdim1,swapdim2,swapdim3,test,trial,uniqueid,exclude
0,1,0,0,1,full_info,False,4,0,0,0,...,0,8,1,1,0,1,False,0,1,0
1,-5,0,0,0,full_info,True,4,1,1,0,...,0,3,1,1,0,1,False,1,1,0
2,1,0,0,1,full_info,True,4,0,1,0,...,0,10,1,1,0,1,False,2,1,0
3,1,0,0,1,full_info,True,4,0,0,1,...,1,12,1,1,0,1,False,3,1,0
4,1,0,0,1,full_info,True,4,0,1,0,...,2,10,1,1,0,1,False,4,1,0

In [ ]:
# Ask for just last 5 rows
alexdata_df.tail()

In [ ]:
# Ask for just first 5 rows
alexdata_df.tail(n=10)

In [ ]:
# Grab 1 column at a time - think of columns as keys and cell entries as values
alexdata_df['condition'] 
alexdata_df['uniqueid']
alexdata_df.uniqueid # difficult if space in column name

In [26]:
# Grab 1 row at a time
alexdata_df.iloc[0] # Get first row of data

ap_payoff                 1
av_payoff                 0
block                     0
category                  1
condition         full_info
correct               False
counterbalance            4
dim0                      0
dim1                      0
dim2                      0
dim3                      1
fullinfo               True
imagenum                 10
physdim0                  1
physdim1                  3
physdim2                  0
physdim3                  2
response                  0
reward                    0
score_post                0
score_pre                 0
stimnum                   8
swapdim0                  1
swapdim1                  1
swapdim2                  0
swapdim3                  1
test                  False
trial                     0
uniqueid                  1
exclude                   0
Name: 0, dtype: object

In [27]:
alexdata_df.iloc[1] # Get 2nd row of data

ap_payoff                -5
av_payoff                 0
block                     0
category                  0
condition         full_info
correct                True
counterbalance            4
dim0                      1
dim1                      1
dim2                      0
dim3                      0
fullinfo               True
imagenum                  4
physdim0                  1
physdim1                  3
physdim2                  0
physdim3                  2
response                  0
reward                    0
score_post                0
score_pre                 0
stimnum                   3
swapdim0                  1
swapdim1                  1
swapdim2                  0
swapdim3                  1
test                  False
trial                     1
uniqueid                  1
exclude                   0
Name: 1, dtype: object

In [28]:
# delete first row of demo_df
demo_df.drop([0])

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [29]:
# Delete every other row
demo_df.drop([0, 2, 4, 6])

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [34]:
# Create new dataset and delete median_income column
df=demo_df.drop('median_income', axis=1)
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,81700.0
...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,500001.0

In [37]:
# Add a new row to a dataset. Easier to create 2 dataframes and concatenate aka stack them.
df1 = pd.DataFrame({"age": [18, 27, 45, 23, 21], "salary": [0,23000,100000,35000,60000]})
df2 = pd.DataFrame({"age": [60, 70, 53, 56, 80], "salary": [50000,23000,60000,135000,0]})
df_combined = pd.concat([df1,df2])
df_combined

   age  salary
0   18       0
1   27   23000
2   45  100000
3   23   35000
4   21   60000
0   60   50000
1   70   23000
2   53   60000
3   56  135000
4   80       0

In [38]:
# Add a new row to a dataset. Easier to create 2 dataframes and concatenate aka stack them.
# Here pandas will create 3 variables.
# NaN = not a number = missing.
df1 = pd.DataFrame({"age": [18, 27, 45, 23, 21], "salary": [0,23000,100000,35000,60000]})
df2 = pd.DataFrame({"age": [60, 70, 53, 56, 80], "height": [5.2,6.0,5.7,3.4,4.6]})
df_combined = pd.concat([df1,df2])
df_combined

   age    salary  height
0   18       0.0     NaN
1   27   23000.0     NaN
2   45  100000.0     NaN
3   23   35000.0     NaN
4   21   60000.0     NaN
0   60       NaN     5.2
1   70       NaN     6.0
2   53       NaN     5.7
3   56       NaN     3.4
4   80       NaN     4.6

In [40]:
# Add column by modifying existing column
demo_df['newcolumn']=demo_df['housing_median_age']+1
demo_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,newcolumn
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,28.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,44.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,28.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,29.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,20.0
...,...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,24.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,28.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,11.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,41.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,43.0

In [46]:
# Add totally new column
demo_df['newcolumn2']=2
demo_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,newcolumn,newcolumn2,new2
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,28.0,2,4.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,44.0,2,NaN
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,28.0,2,NaN
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,29.0,2,NaN
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,20.0,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,24.0,2,NaN
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,28.0,2,NaN
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,11.0,2,NaN
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,41.0,2,NaN
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,43.0,2,NaN

In [42]:
# Drop all rows with missing data
df_combined.dropna()

Empty DataFrame
Columns: [age, salary, height]
Index: []

In [47]:
# Edit or set specific values
# Change 1st row's newcolumn2 values from 2 to 12
demo_df.at[0,'newcolumn2']=12
demo_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,newcolumn,newcolumn2,new2
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,28.0,12,4.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,44.0,2,NaN
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,28.0,2,NaN
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,29.0,2,NaN
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,20.0,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,24.0,2,NaN
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,28.0,2,NaN
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,11.0,2,NaN
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,41.0,2,NaN
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,43.0,2,NaN

In [55]:
# Sorting
# Load in new dataset and view first 5 rows
df = pd.read_csv('https://raw.githubusercontent.com/brendenlake/lab-cognition-perception/main/data/salary.csv')
df.head()
df.sort_values('salary', ascending=False) # sort by salary highest to lowest

    salary  gender departm  years   age  publications
28  112800       0   neuro   14.0  44.0            33
41  106412       0    stat   23.0  53.0            29
29  105761       0   neuro    9.0  39.0            30
24  104828       0    geol    NaN  50.0            44
14   97630       0    chem   34.0  64.0            43
..     ...     ...     ...    ...   ...           ...
74   52254       1    stat    2.0  32.0             9
53   51391       0    stat    5.0  35.0             8
76   49542       1    math    3.0  33.0             5
22   47021       0    chem    4.0  34.0            12
23   44687       0    chem    4.0  34.0            19

[77 rows x 6 columns]

In [58]:
# Create grades dataset
grades_df = pd.DataFrame({
      'student':['001','002','003'],
      'assignment1':[90, 80, 70],
      'assignment2':[82,84,96],
      'assignment3':[89,75,89]
})
grades_df

  student  assignment1  assignment2  assignment3
0     001           90           82           89
1     002           80           84           75
2     003           70           96           89

In [59]:
# Add new column w/ mean of the 3 assignments
grades_df['mean']=(grades_df['assignment1']+grades_df['assignment2']+grades_df['assignment3'])/3
grades_df

  student  assignment1  assignment2  assignment3       mean
0     001           90           82           89  87.000000
1     002           80           84           75  79.666667
2     003           70           96           89  85.000000

In [60]:
# By statement
df['age']>50 # Find rows in dataset where age > 50

0      True
1      True
2     False
3     False
4     False
      ...
72    False
73    False
74    False
75     True
76    False
Name: age, Length: 77, dtype: bool

In [62]:
(df['age']>50) & (df['age']<70) # Find rows in dataset where age between 50 and 70

0      True
1      True
2     False
3     False
4     False
      ...
72    False
73    False
74    False
75     True
76    False
Name: age, Length: 77, dtype: bool

In [63]:
# Find women over 50
(df['age']>50) & (df['gender']==1)

0     False
1     False
2     False
3     False
4     False
      ...
72    False
73    False
74    False
75     True
76    False
Length: 77, dtype: bool

In [64]:
# Filter and only keep records that are true aka age < 35
under35 = df['age']<35
df[under35]

    salary  gender  departm  years   age  publications
22   47021       0     chem    4.0  34.0            12
23   44687       0     chem    4.0  34.0            19
52   53656       0     stat    2.0  32.0             4
56   72044       0  physics    2.0  32.0            16
70   55949       1     chem    4.0  34.0            12
72   53662       1    neuro    1.0  31.0             3
74   52254       1     stat    2.0  32.0             9
76   49542       1     math    3.0  33.0             5

## Tidy data
Tidy dataset-->correct way to organize a data file aka long dataset.
Ex - Measure bp for several patients for 3 consecutive days.
1) Each obs in own row
2) Each var in own column
3) Each value has own cell

Easier to run statistical anlayses, e.g. regression model

In [65]:
# Untidy or wide dataset w/ a column that has age and gender in same column
data_untidy = [['tom', "26_m", 12, 15, 15],
               ['nick', "23_m", 10, 9, 12],
               ['julie', "18_f", 15, 13, 14],
               ['angela', "21_f", 10, 10, 12]]
df_untidy = pd.DataFrame(data_untidy, columns = ['name', 'age_gender', 'time1', 'time2', 'time3'])
df_untidy

     name age_gender  time1  time2  time3
0     tom       26_m     12     15     15
1    nick       23_m     10      9     12
2   julie       18_f     15     13     14
3  angela       21_f     10     10     12

In [68]:
# Create a tidy dataset that splits age_gender column into 2 columns-->age and gender
# Delete old column
df_untidy[['age','gender']] = df_untidy.age_gender.str.split("_", expand=True)
del df_untidy['age_gender']

df_untidy

     name  time1  time2  time3 age gender
0     tom     12     15     15  26      m
1    nick     10      9     12  23      m
2   julie     15     13     14  18      f
3  angela     10     10     12  21      f

In [71]:
# Untidy-->tidy aka Wide-->long
df_tidy = pd.melt(df_untidy, id_vars=['name', 'age', 'gender'], var_name='timepoint', value_name='bpscore')
df_tidy

      name age gender timepoint  bpscore
0      tom  26      m     time1       12
1     nick  23      m     time1       10
2    julie  18      f     time1       15
3   angela  21      f     time1       10
4      tom  26      m     time2       15
5     nick  23      m     time2        9
6    julie  18      f     time2       13
7   angela  21      f     time2       10
8      tom  26      m     time3       15
9     nick  23      m     time3       12
10   julie  18      f     time3       14
11  angela  21      f     time3       12

##Split apply combine workflow
Analyze in terms of subgroups e.g. by subject. 
Split data into pieces and then do summary stats or run stat model. Then combine results back together again.

In [73]:
# Start w/ tidy dataset - group data by gender
# Use for loop to print out groups 1 by 1
for group, groupdf in df_tidy.groupby('gender'):
  print(group)
  print(groupdf)

f
      name age gender timepoint  bpscore
2    julie  18      f     time1       15
3   angela  21      f     time1       10
6    julie  18      f     time2       13
7   angela  21      f     time2       10
10   julie  18      f     time3       14
11  angela  21      f     time3       12
m
   name age gender timepoint  bpscore
0   tom  26      m     time1       12
1  nick  23      m     time1       10
4   tom  26      m     time2       15
5  nick  23      m     time2        9
8   tom  26      m     time3       15
9  nick  23      m     time3       12

In [74]:
# Group by timepoint
for group, groupdf in df_tidy.groupby('timepoint'):
  print(group)
  print(groupdf)

time1
     name age gender timepoint  bpscore
0     tom  26      m     time1       12
1    nick  23      m     time1       10
2   julie  18      f     time1       15
3  angela  21      f     time1       10
time2
     name age gender timepoint  bpscore
4     tom  26      m     time2       15
5    nick  23      m     time2        9
6   julie  18      f     time2       13
7  angela  21      f     time2       10
time3
      name age gender timepoint  bpscore
8      tom  26      m     time3       15
9     nick  23      m     time3       12
10   julie  18      f     time3       14
11  angela  21      f     time3       12

In [76]:
# Group by age
for group, groupdf in df_tidy.groupby('age'):
  print(group)
  print(groupdf)

18
     name age gender timepoint  bpscore
2   julie  18      f     time1       15
6   julie  18      f     time2       13
10  julie  18      f     time3       14
21
      name age gender timepoint  bpscore
3   angela  21      f     time1       10
7   angela  21      f     time2       10
11  angela  21      f     time3       12
23
   name age gender timepoint  bpscore
1  nick  23      m     time1       10
5  nick  23      m     time2        9
9  nick  23      m     time3       12
26
  name age gender timepoint  bpscore
0  tom  26      m     time1       12
4  tom  26      m     time2       15
8  tom  26      m     time3       15

In [78]:
# Group by subject
for group, groupdf in df_tidy.groupby('name'):
  print(group)
  print(groupdf)

angela
      name age gender timepoint  bpscore
3   angela  21      f     time1       10
7   angela  21      f     time2       10
11  angela  21      f     time3       12
julie
     name age gender timepoint  bpscore
2   julie  18      f     time1       15
6   julie  18      f     time2       13
10  julie  18      f     time3       14
nick
   name age gender timepoint  bpscore
1  nick  23      m     time1       10
5  nick  23      m     time2        9
9  nick  23      m     time3       12
tom
  name age gender timepoint  bpscore
0  tom  26      m     time1       12
4  tom  26      m     time2       15
8  tom  26      m     time3       15

In [80]:
# Group by subject and calculate average
df_tidy.groupby('name')['bpscore'].mean()

name
angela    10.666667
julie     14.000000
nick      10.333333
tom       14.000000
Name: bpscore, dtype: float64

In [81]:
# Group by gender and calculate average
df_tidy.groupby('gender')['bpscore'].mean()

gender
f    12.333333
m    12.166667
Name: bpscore, dtype: float64